.menu {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.navbar {
  padding: 1rem;
}

.menu-item a:hover {
  background: rgba(63, 56, 56, 0.493);
  padding: 0.3rem;
  transition: 0.2s ease;
  border-radius: 1rem;
  color: #fff;
}

.carro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--cor-de-fundo-nomeGuerriro);
  border-radius: 1rem;
}
.carro h2 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.767);
  background: var( --cor-de-fundo);
  border-radius: 5px;
  border: 2px solid #ffffffbb;
  padding: 0.4rem;
  
}
.descricao {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 1rem;

  border-radius: 1rem;
}

.descricao p {
  display: flex;
  width: 80%;
  font-size: 20px;
  font-weight: 800;
  
  gap: 2rem;
  color: #fff;
}
.descricao img {
  width: 50%;
  border-radius: 30px;
}
.table {
  /* width: 50%; */
  text-align: center;
  color: #fff;
  border: solid 2px black ;
}
.cabecalho-nome,.informacao-dados {
  padding: .5rem;
  border: 2px solid black;
}
@media screen and (max-width: 768px) {
  .navbar ul {
    display: flex;
    flex-direction: row;
  }
  .navbar ul li{
   
    font-size: 13px;
  }
  .carro h2 {
    font-size: 30px;
  }
  .descricao {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 420px) {
  .descricao p {
    font-size: 15px;
  }
  .cabecalho-nome {
    padding: .2rem;
    font-size: 12px;
  }
  .informacao-dados{
    font-size: 9px;
  }
}

@media screen and (max-width: 320px) {


}
