.menu {
  display: flex;
  justify-content: space-between;
}
.menu img {
  width: 10%;
  height: 10%;
  padding-left: 5rem;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar ul {
  display: flex;
  gap: 2rem;
  background: var(--cor-do-titulo-nomeGuerriro);
  padding: 1rem;
  border: solid 2px;
  border-radius: 1rem;
}
.navbar ul li {
  list-style-type: none;
}
.navbar-item {
  padding: 1rem;
  color: black;
  text-decoration: none;
}
.navbar-item:hover {
  color: wheat;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.39);
}
.contente {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 2rem;

}
.escolher-personagem {
  background-color: rgba(0, 0, 0, 0.39);
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 2rem;  
  gap: 3rem;
}
.escolher-personagem h2 {
  background: var(--cor-do-titulo-nomeGuerriro);
  padding: 1rem;

  border-radius: 16px;
  border: solid;
  margin: 1rem auto;
}

.personagem-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 16px;
  border: solid 2px;
}

.dados-guerreiros {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background: rgba(179, 196, 27, 0.027);
  padding: 0.8rem;
}
.dados-guerreiros a {
  text-decoration: none;
}
.dados-guerreiros img {
  height: 150px;
  border-radius: 100%;
  display: grid;
}
.dados-guerreiros button {
  background: var(--cor-do-titulo-nomeGuerriro);
  border: solid 2px;
  border-radius: 1rem;
  text-decoration: none;
  margin-top: 1rem;
  font-family: "Press Start 2P", cursive;
}
.dados-guerreiros button:hover {
  background: rgba(63, 56, 56, 0.493);

  transition: 0.2s ease;
  border-radius: 1rem;
  color: wheat;
}

@media screen and (max-width: 1400px) {
  
}
@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 900px) {
  .menu {
    padding: 1rem;
    justify-content: center;
    gap: 2rem;
  }

  .navbar ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {

  .menu img {
    display: none;
  }

  .navbar ul li a{
    color: rgb(49, 63, 92) ;
  }
}
@media screen and (max-width: 425px){
  .personagem-link {
        grid-template-columns: repeat(1,1fr);
  }
}
@media screen and (max-width: 420px) {
  .escolher-personagem {
    width: 90%;
  }
  .personagem-link {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {

  .escolher-personagem h2 {
    font-size: 16px;
  }
}